.wrapper {
    margin: 0;
    background-color: gainsboro;
    background-image: url(https://st2.depositphotos.com/1653005/7537/i/950/depositphotos_75370523-stock-photo-close-up-black-asphalt-texture.jpg);
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 17.5%;
    margin-right: 17.5%;
    margin-top: 1%;
    background-color: rgb(206, 203, 203);
    border: 0.1px solid grey;
    opacity: 0.95;
    font-size: 18px;
}

.quizInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.singleQuestion {
    margin-bottom: 30px;
    padding: 10px;
    background-color: rgb(206, 203, 203);
}

.singleQuestion > * {
    margin: 9px;
    padding: 9px;
}

.singleQuestion > * > * {
    margin: 7px;
    padding: 7px;
}

.submitArea {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.submitButton {
    height: 60px;
    width: 140px;
}

.commentSection {
    margin-top: 10px;
    border: 2px solid black;
}